body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-grow: 1; */
}
.header img {
    width: 100px;
    height: auto;    
}
.card img {
    width: 300px;
    height: auto;
}
.pic img {
    width: 150px;
    height: auto;
}
.header {
    display: flex;
    background-color: #2d415e;
    color: #E5e7eb;
    font-size: 18px;
    justify-content: space-around;
   
}
ul {
    display: flex;
    list-style: none;
    gap: 8px;
}
a {
    text-decoration-line: none;
    color: #E5e7eb;
}
.title {
    display: flex;
    flex-direction: row;
    background-color: #2d415e;
    color: #E5e7eb;
    justify-content: center;
}
.card {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 300px;
    padding: 16px;
}
.card button{
    background-color: #3882f6;
    color: #E5e7eb;
    border-width: 0;
    border-radius: 25px;
}
.mid {
    display: flex;
    flex-direction: column;
}
.pictures {
    display: flex;

}
.pic {
    display:flex;
    flex-direction: column;
}
.quote {
    display: flex;
    flex-direction: column;
}
.action {
    display: flex;

}
.more{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #2d415e;
    color: #E5e7eb;
}