body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    /* flex-grow: 1; */
}
.header img {
    width: 100px;
    height: auto;    
}
.card img {
    width: 300px;
    height: auto;
}
.pic img {
    width: 150px;
    height: auto;
}
.header {
    display: flex;
    background-color: #2d415e;
    color: #E5e7eb;
    font-size: 18px;
    justify-content: space-around;
   
}
ul {
    display: flex;
    list-style: none;
    gap: 8px;
}
a {
    text-decoration-line: none;
    color: #E5e7eb;
}
.title {
    display: flex;
    flex-direction: row;
    background-color: #2d415e;
    color: #E5e7eb;
    justify-content: center; 
    font-size: 18px;
    color: #e5e7eb; 
}
h2{
    font-size:48px;
    color: #f9faf8;
}
.card {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 auto;
    padding: 16px;
}
.card button{
    background-color: #3882f6;
    color: #E5e7eb;
    border-width: 0;
    border-radius: 5px;
    display: flex;
    width: 100px;
    justify-content: center;
    padding: 8px;
    
}
button{
    background-color: #3882f6;
    color: #E5e7eb;
    border-color: #E5e7eb;
    border-width: 2px;
    border-radius: 5px;
    display: flex;
    width: 100px;
    justify-content: center;
    padding: 8px;
    border-style: solid;
}
.mid {
    display: flex;
    flex-direction: column;
}
.pictures {
    display: flex;

}
.pic {
    display:flex;
    flex-direction: column;
}
.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}
.words{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.action {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    color: #E5e7eb;
    align-items: center;
    margin: 32px;
    padding: 0px 32px;
    }
.more{
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #2d415e;
    color: #E5e7eb;
}